In [12]:
import numpy as np
import pandas as pd

In [13]:
inst_A = pd.read_csv('data/TSPA.csv', sep=";", header=None, names=["x", "y", "cost"])
inst_B = pd.read_csv('data/TSPB.csv', sep=";", header=None, names=["x", "y", "cost"])
inst_C = pd.read_csv('data/TSPC.csv', sep=";", header=None, names=["x", "y", "cost"])
inst_D = pd.read_csv('data/TSPD.csv', sep=";", header=None, names=["x", "y", "cost"])
inst_D

        x     y  cost
0    2907  1115   464
1    3433   183   932
2    2237    74   130
3      91   583   503
4    3053  1867   496
..    ...   ...   ...
195  1252   970   941
196   613   784   219
197  3139   470   298
198  2465  1165   285
199  2148  1430   888

[200 rows x 3 columns]

In [19]:
def cost(v1, v2):
    x1, y1, cost1 = v1[0], v1[1], v1[2]
    x2, y2, cost2 = v2[0], v2[1], v2[2]

    # calculate distance between two vertices
    dist = np.round(np.linalg.norm(np.array((x1, y1)) - np.array((x2, y2))), 0)
    
    # add cost of the second vertex
    return dist + cost2

In [23]:
# create a matrix with all the distances and costs of choosing a certain node: 
#
# ~ = dist(v0, v1) + cost(v1)
# 
#   | 0 | 1 | 2 | 3 | ... |
# ______________________________
# 0 | x | ~ |   |   |
# 1 |   | x |   |   |
# 2 |   |   | x |   |
# ...

def dist_matrix(inst):
    matrix = []
    for i in range(len(inst)):
        dists = []
        for ii in range(len(inst)):
            # calculate the cost of choosing the vertex
            dists.append(cost(inst.loc[i], inst.loc[ii]))
        matrix.append(dists)   
    return pd.DataFrame(matrix)

dist_A = dist_matrix(inst_A)
dist_B = dist_matrix(inst_B)
dist_C = dist_matrix(inst_C)
dist_D = dist_matrix(inst_D)

In [24]:
dist_A

,0,1,2,3,4,5,6,7,8,9,...,190,191,192,193,194,195,196,197,198,199
0,84.0,2032.0,2098.0,2466.0,760.0,3067.0,2101.0,2686.0,2706.0,2892.0,...,2841.0,3913.0,1617.0,1963.0,1997.0,1225.0,3099.0,4159.0,3783.0,1514.0
1,1633.0,483.0,2398.0,4013.0,1092.0,2448.0,2075.0,3896.0,1561.0,2327.0,...,2436.0,2964.0,1454.0,3509.0,2669.0,2513.0,2341.0,3349.0,2266.0,817.0
2,720.0,1419.0,1462.0,3101.0,180.0,2560.0,1807.0,3038.0,2104.0,2306.0,...,2413.0,3351.0,1028.0,2586.0,1975.0,1616.0,2552.0,3640.0,3149.0,964.0
3,564.0,2510.0,2577.0,1986.0,1240.0,3474.0,2390.0,2513.0,3160.0,3348.0,...,3202.0,4342.0,2095.0,1864.0,2190.0,1090.0,3527.0,4561.0,4263.0,1980.0
4,699.0,1430.0,1497.0,3081.0,145.0,2595.0,1840.0,3045.0,2134.0,2339.0,...,2448.0,3384.0,1028.0,2568.0,1997.0,1619.0,2586.0,3674.0,3168.0,962.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
195,1112.0,2799.0,2881.0,2879.0,1567.0,3224.0,1864.0,1659.0,3057.0,3363.0,...,2816.0,4132.0,2447.0,2497.0,1647.0,197.0,3352.0,4243.0,4420.0,2383.0
196,2000.0,1641.0,2831.0,4330.0,1548.0,1311.0,1100.0,3562.0,896.0,2248.0,...,1319.0,1998.0,2098.0,3798.0,2237.0,2366.0,1183.0,2276.0,2562.0,1761.0
197,2782.0,2371.0,3641.0,5086.0,2358.0,1865.0,1319.0,4054.0,994.0,3063.0,...,1492.0,1842.0,2912.0,4555.0,2806.0,2979.0,1998.0,1461.0,2908.0,2554.0
198,2558.0,1440.0,3302.0,4940.0,2004.0,2557.0,2353.0,4624.0,1153.0,2931.0,...,2550.0,2674.0,2389.0,4426.0,3311.0,3308.0,2436.0,3060.0,1309.0,1773.0
199,1234.0,936.0,2062.0,3602.0,743.0,2655.0,2137.0,3637.0,1941.0,2392.0,...,2600.0,3293.0,1095.0,3112.0,2512.0,2216.0,2580.0,3651.0,2718.0,364.0

In [25]:
dist_B

,0,1,2,3,4,5,6,7,8,9,...,190,191,192,193,194,195,196,197,198,199
0,928.0,2934.0,1498.0,3872.0,1759.0,1276.0,2518.0,3471.0,1806.0,4471.0,...,921.0,4284.0,3161.0,3135.0,2367.0,3543.0,2757.0,1282.0,1015.0,2598.0
1,1998.0,1864.0,1461.0,4372.0,2719.0,1343.0,3474.0,4056.0,2340.0,4937.0,...,1898.0,4838.0,3655.0,3843.0,2944.0,4201.0,3322.0,1008.0,1949.0,3567.0
2,2166.0,3065.0,260.0,3212.0,2963.0,1152.0,2946.0,3016.0,1290.0,3774.0,...,1557.0,3721.0,2505.0,2833.0,3581.0,3214.0,2211.0,1582.0,1685.0,3135.0
3,3794.0,5230.0,2466.0,1006.0,4221.0,3177.0,3543.0,2968.0,1586.0,2349.0,...,2631.0,2519.0,1146.0,1786.0,5123.0,3106.0,998.0,3647.0,3014.0,4001.0
4,1694.0,3590.0,2230.0,4234.0,993.0,2040.0,2636.0,3878.0,2268.0,4881.0,...,1189.0,4644.0,3556.0,3370.0,1950.0,3894.0,3109.0,1997.0,1486.0,2781.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
195,2589.0,4183.0,1592.0,2230.0,3005.0,2107.0,2351.0,1950.0,572.0,2871.0,...,1408.0,2636.0,1545.0,1525.0,3899.0,1882.0,1105.0,2549.0,1799.0,2783.0
196,3246.0,4747.0,2032.0,1565.0,3663.0,2680.0,2987.0,2425.0,1063.0,2278.0,...,2073.0,1998.0,940.0,1349.0,4564.0,2548.0,439.0,3142.0,2461.0,3441.0
197,1613.0,2275.0,1245.0,4056.0,2393.0,1008.0,3064.0,3705.0,1996.0,4626.0,...,1488.0,4503.0,3336.0,3473.0,2757.0,3834.0,2984.0,597.0,1538.0,3156.0
198,1373.0,3243.0,1375.0,3450.0,1909.0,1331.0,2104.0,3053.0,1405.0,4061.0,...,520.0,3859.0,2746.0,2691.0,2706.0,3111.0,2330.0,1565.0,570.0,2189.0
199,1750.0,3655.0,1619.0,3231.0,1998.0,1702.0,1697.0,2879.0,1291.0,3877.0,...,467.0,3639.0,2552.0,2391.0,2907.0,2889.0,2104.0,1977.0,983.0,1776.0

In [26]:
dist_C

,0,1,2,3,4,5,6,7,8,9,...,190,191,192,193,194,195,196,197,198,199
0,42.0,1790.0,1367.0,1473.0,687.0,2508.0,2025.0,2150.0,2569.0,2097.0,...,2461.0,3188.0,1236.0,1133.0,1579.0,1126.0,2507.0,3428.0,3128.0,1332.0
1,1591.0,241.0,1667.0,3020.0,1019.0,1889.0,1999.0,3360.0,1424.0,1532.0,...,2056.0,2239.0,1073.0,2679.0,2251.0,2414.0,1749.0,2618.0,1611.0,635.0
2,678.0,1177.0,731.0,2108.0,107.0,2001.0,1731.0,2502.0,1967.0,1511.0,...,2033.0,2626.0,647.0,1756.0,1557.0,1517.0,1960.0,2909.0,2494.0,782.0
3,522.0,2268.0,1846.0,993.0,1167.0,2915.0,2314.0,1977.0,3023.0,2553.0,...,2822.0,3617.0,1714.0,1034.0,1772.0,991.0,2935.0,3830.0,3608.0,1798.0
4,657.0,1188.0,766.0,2088.0,72.0,2036.0,1764.0,2509.0,1997.0,1544.0,...,2068.0,2659.0,647.0,1738.0,1579.0,1520.0,1994.0,2943.0,2513.0,780.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
195,1070.0,2557.0,2150.0,1886.0,1494.0,2665.0,1788.0,1123.0,2920.0,2568.0,...,2436.0,3407.0,2066.0,1667.0,1229.0,98.0,2760.0,3512.0,3765.0,2201.0
196,1958.0,1399.0,2100.0,3337.0,1475.0,752.0,1024.0,3026.0,759.0,1453.0,...,939.0,1273.0,1717.0,2968.0,1819.0,2267.0,591.0,1545.0,1907.0,1579.0
197,2740.0,2129.0,2910.0,4093.0,2285.0,1306.0,1243.0,3518.0,857.0,2268.0,...,1112.0,1117.0,2531.0,3725.0,2388.0,2880.0,1406.0,730.0,2253.0,2372.0
198,2516.0,1198.0,2571.0,3947.0,1931.0,1998.0,2277.0,4088.0,1016.0,2136.0,...,2170.0,1949.0,2008.0,3596.0,2893.0,3209.0,1844.0,2329.0,654.0,1591.0
199,1192.0,694.0,1331.0,2609.0,670.0,2096.0,2061.0,3101.0,1804.0,1597.0,...,2220.0,2568.0,714.0,2282.0,2094.0,2117.0,1988.0,2920.0,2063.0,182.0

In [27]:
dist_D

,0,1,2,3,4,5,6,7,8,9,...,190,191,192,193,194,195,196,197,198,199
0,464.0,2002.0,1368.0,3369.0,1262.0,993.0,1783.0,2577.0,1677.0,3491.0,...,779.0,3301.0,2803.0,2675.0,1739.0,2602.0,2537.0,983.0,730.0,1710.0
1,1534.0,932.0,1331.0,3869.0,2222.0,1060.0,2739.0,3162.0,2211.0,3957.0,...,1756.0,3855.0,3297.0,3383.0,2316.0,3260.0,3102.0,709.0,1664.0,2679.0
2,1702.0,2133.0,130.0,2709.0,2466.0,869.0,2211.0,2122.0,1161.0,2794.0,...,1415.0,2738.0,2147.0,2373.0,2953.0,2273.0,1991.0,1283.0,1400.0,2247.0
3,3330.0,4298.0,2336.0,503.0,3724.0,2894.0,2808.0,2074.0,1457.0,1369.0,...,2489.0,1536.0,788.0,1326.0,4495.0,2165.0,778.0,3348.0,2729.0,3113.0
4,1230.0,2658.0,2100.0,3731.0,496.0,1757.0,1901.0,2984.0,2139.0,3901.0,...,1047.0,3661.0,3198.0,2910.0,1322.0,2953.0,2889.0,1698.0,1201.0,1893.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
195,2125.0,3251.0,1462.0,1727.0,2508.0,1824.0,1616.0,1056.0,443.0,1891.0,...,1266.0,1653.0,1187.0,1065.0,3271.0,941.0,885.0,2250.0,1514.0,1895.0
196,2782.0,3815.0,1902.0,1062.0,3166.0,2397.0,2252.0,1531.0,934.0,1298.0,...,1931.0,1015.0,582.0,889.0,3936.0,1607.0,219.0,2843.0,2176.0,2553.0
197,1149.0,1343.0,1115.0,3553.0,1896.0,725.0,2329.0,2811.0,1867.0,3646.0,...,1346.0,3520.0,2978.0,3013.0,2129.0,2893.0,2764.0,298.0,1253.0,2268.0
198,909.0,2311.0,1245.0,2947.0,1412.0,1048.0,1369.0,2159.0,1276.0,3081.0,...,378.0,2876.0,2388.0,2231.0,2078.0,2170.0,2110.0,1266.0,285.0,1301.0
199,1286.0,2723.0,1489.0,2728.0,1501.0,1419.0,962.0,1985.0,1162.0,2897.0,...,325.0,2656.0,2194.0,1931.0,2279.0,1948.0,1884.0,1678.0,698.0,888.0